* {box-sizing: border-box;}

body {
	background: linear-gradient(82.2649081452405deg, rgba(79, 237, 0,1) 4.662434980273247%,rgba(242, 211, 73,1) 62.30740360915661%) fixed;
}
.szukaj {
	font-size: 25px;
	font-weight: bold;
	border-bottom: 1px solid grey;
}
label {
	font-size: 40px;
	font-weight: bold;
	text-align: center;
}
input {
	width: 400px;
	padding: 6px;
	height: 50px;
	border-radius: 15px;
	border: 1px solid black;
	margin-top: 40px;
	font-size: 25px;
	padding-left: 12px !important;
}

input:focus, input:active {
	outline: none !important;
}
span {
	display: flex;
	align-items : center;
	justify-content: center;
	flex-direction: column;
	margin: 20px;
}
span:hover {
	transform: scale(1.2);
	transition: 1s;
}
span:hover a {
	/*transform: translate(0, -50px); */
	transform: scale(1.6);
	transition: 2s;
}
form {
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'IBM Plex Sans', sans-serif;
}

.people {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
img {
	border-radius: 50%;
	margin: 10px;
	width: 150px;
	height: 150px;
}
a {
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}
@media (max-width: 500px) {
	.szukaj {
		font-size: 14px;
	}
	label {
		font-size: 25px;
	}
	input {
		width: 200px;
		height: 30px;
		margin-top: 20px;
	}
}